@if (this.transactions$.length > 0) {
<main class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4 text-white">Historial de transacciones</h2>
    <section class="overflow-x-auto rounded-xl">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-100">
                <tr>
                    <th class="py-2 px-4 text-left">ID Transacción</th>
                    <th class="py-2 px-4 text-left">ID Fondo</th>
                    <th class="py-2 px-4 text-left">Nombre Fondo</th>
                    <th class="py-2 px-4 text-left">Tipo</th>
                    <th class="py-2 px-4 text-left">Fecha</th>
                    <th class="py-2 px-4 text-left">Monto</th>
                </tr>
            </thead>
            <tbody>
                @for (transaction of transactions$; track $index) {
                <tr class="border-b">
                    <td class="py-2 px-4">{{ transaction.transactionId }}</td>
                    <td class="py-2 px-4">{{ transaction.fundId }}</td>
                    <td class="py-2 px-4">{{ transaction.fundName }}</td>
                    <td class="py-2 px-4">{{ transaction.type }}</td>
                    <td class="py-2 px-4">{{ transaction.date | date:'medium' }}</td>
                    <td class="py-2 px-4">{{ transaction.amount | currency:'COP':'symbol-narrow':'1.0-0' }}</td>
                </tr>
                }
            </tbody>
        </table>
    </section>
</main>
}